@charset "utf-8";

body {
    width: 1000px;
    background: #333;
    margin: 0 auto;
}
/* l'enveloppe principale de la page */
#conteneur {
    width: 800px;
    height: auto;
    background: white;
    margin: 0 auto;
}
/* le header et ses caractéristique */
header {
    width: 700px;
    height: 60px;
    background: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 70px;
    padding-left: 40px;
    padding-right: 20px;
}
header h1 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 3em;
}

header h2 {
    float: right;
    margin: 0 auto;
    text-align: right;
}
header p {
    float: right;
    text-align: right;
    display: block;
}
ul li {
    display: inline-block;
    text-align: center;
    list-style-type: none;
    font-family: 'Playfair Display', serif;

}
/* les deux grandes div */
div {
    width: 800px;
    height: auto;
    background: white;
    display: block;
    margin: 0 auto;
}
div p {
    font-family: 'Playfair Display', serif;
}

/* sous div */
.div_1 {
    width: 340px;
    height: 340px;
    float: left;
    text-justify: left;
    font-size: 1em; /*  taille du texte */
    display: block;
    padding: 30px;/* pour décaler le texte du bord */
}
.div_2 {
    width: 400px;
    height: 400px;
    float: right;
    display: block;
}
.div_3 {
    width: 400px;
    height: 400px;
    float: left;
    display: block;
    margin: 0 auto;
}
.div_4 {
    width: 340px;
    height: 340px;
    float: right;
    display: block;
    margin: 0 auto;
    text-justify: left;
    font-size: 1em; /*  taille du texte */
    padding: 30px;/* pour décaler le texte du bord */
}
h2 {
    border-bottom: 1px solid black;
}
/* pour remettre le flux */
.clear {
    clear: both;
}
.clearfix {
    overflow: auto;
}
.fond_noir {
    width: 150px;
    background: black;
    color: white;
}
.image {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    float: left;
}
.image2 {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
}
hr {
    width: 200px;
}
a {
    text-decoration: none;
}
a:link {
    color: black;
}
footer {
    width: 600px;
    height: auto;
    background: white;
    margin: 0 auto;
    display: block;
    padding-top:90px;
    padding-bottom: 30px;
    text-align: center;
}
footer h1 {
   font-size: 3em; 
}