@charset "utf-8";

body {
    width: 1000px;
    background: #333;
    margin: 0 auto;
}
/* l'enveloppe principale de la page */
#conteneur {
    width: 800px;
    height: auto;
    background: white;
    margin: 0 auto;
    text-align: center;
}
/* le header et ses caractéristique */
header {
    width: 700px;
    height: 60px;
    background: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
}

header h2 {
    float: right;
    margin: 0 auto;
    text-align: right;
}
header p {
    float: right;
    text-align: right;
}
ul li {
    display: inline-block;
    text-align: center;
    list-style-type: none;

}
/* les deux grandes div */
div {
    width: 800px;
    height: auto;
    background: white;
    display: block;
    margin: 0 auto;
    min-height: 50%;
}

/* sous div */
.div_1 {
    width: 340px;
    height: 340px;
    float: left;
    /* font-size: 0.8em; */
    text-align: left;
    display: block;
    padding: 30px;/* pour décaler le texte du bord */
}
.div_2 {
    width: 400px;
    height: 400px;
    float: right;
    display: block;
}
.div_3 {
    width: 400px;
    height: 400px;
    float: left;
    display: block;
    margin: 0 auto;
}
.div_4 {
    width: 340px;
    height: 340px;
    float: right;
    /* font-size: 0.8em; */
    display: block;
    margin: 0 auto;
    text-align: left;
    padding: 30px;/* pour décaler le texte du bord */
}
/* pour remettre le flux */
.clear {
    clear: both;
}
.clearfix {
    overflow: auto;
}
.image {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    float: left;
}
.image2 {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
}
hr {
    width: 200px;
}
footer {
    width: 600px;
    height: auto;
    background: white;
    margin: 0 auto;
    display: block;
    padding-top:90px;
    padding-bottom: 30px;
}